@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@562;700&family=PT+Sans:ital@0;1&family=Shadows+Into+Light&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

.container {
  min-height: 70px;
  padding: 0 65px;
  background: rgba(220,149,140, 0.9);
  font-size: 20px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.cat {
  height: 150px;
  margin-top: 10px;
  margin-left: 200px;
  margin-bottom: 30px;
}

.title {
  font-size: 30px;
  color:  #9f166a;
  margin: 50px 0 0 20px;
}

.container1 {
  margin-top: 100px;
  width: 350px;
  height: 200px;
  background: white;
  box-shadow: 0 20px 30px -15px rgba(0,0,0,0.08);
  border-radius: 15px;
}

.container2 {
  margin-top: 200px;
  width: 350px;
  height: 200px;
  background: white;
  box-shadow: 0 20px 30px -15px rgba(0,0,0,0.08);
  border-radius: 15px;
}


.circle {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #9f166a;
  margin-top: 5px;
  margin-left: 390px;
}

.border {
  width: 5px;
  height: 450px;
  background-color: #c70067;
  box-shadow: 0 20px 30px -15px rgba(0,0,0,0.08);
}

.border1 {
  margin-top: 200px;
  width: 50px;
  height: 5px;
  background-color: #c70067;
}

.border2 {
  width: 50px;
  height: 5px;
  background-color: #c70067;
  margin-top: 300px;
}

.border3 {
  width: 350px;
  height: 5px;
  margin-top: 10px;
  background-color: rgba(201,60,100, 0.9);
}

.title1 {
  margin: 10px 0;
  color: #c70067;
  font-size: 25px;
}

.term {
  margin-bottom: 10px;
}

.detail {
  text-align: left;
  width: 300px;
  margin-left: 50px;
}