@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@562;700&family=PT+Sans:ital@0;1&family=Shadows+Into+Light&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

body {
  font-family: 'PT Sans', sans-serif;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.container {
  margin-top: 10px;
  min-height: 70px;
  padding: 10px 0 0 0;
  background: rgba(220,149,149, 0.9);
  font-size: 20px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.titlecon {
  background: #EA412C;
  box-shadow: 0 20px 30px -15px rgba(0,0,0,0.08);
  width: 300px;
  height: 50px;
  padding: 20px 0 0 0;
  margin-left: 350px;
  margin-top: 20px;
  border-radius: 10px;
}

.title {
  font-size: 30px;
  color: white;
}

.mockupimg {
  width: 700px;
}

.category {
  height: 50px;
  background: #EA412C;
  margin: 20px 0;
}

.title1 {
  padding-top: 10px;
  font-size: 25px;
  color: white;
  -webkit-text-stroke: 2px yellow solid;
}

.content {
  width: 600px;
  height: 150px;
  font-size: 25px;
  margin: 25px auto 0;
  text-align: left;
  color: white;
}

.icon {
  width: 100px;
  margin: 0 15px;
}


.icon1 {
  width: 100px;
  margin-left: 350px;
}