@import url('https://fonts.googleapis.com/css2?family=Cuprum&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

.flex {
  display: flex;
  justify-content: space-evenly;
  margin: 0;
  height: 135px;
}


.container {
  width: 980px;
  min-height: 70px;
  padding-top: 10px;
  background: rgba(220,149,149, 0.9);
  margin-left: 200px;
  border-radius: 10px;
  font-size: 20px;
}